<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buy Bud</title>
  <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" media="all" href="https://unpkg.com/@mdi/font@6.x/css/materialdesignicons.min.css">
  <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Material+Icons">
  <link rel="stylesheet" media="all" href="https://unpkg.com/vuetify@2.6.4/dist/vuetify.min.css">
  <script type="text/javascript" src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/vue@2.x/dist/vue.js"></script>
  <script type="text/javascript" src="https://unpkg.com/vue-router@4"></script>
  <script type="text/javascript" src="https://unpkg.com/vuetify@2.6.4/dist/vuetify.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
  <v-app id="inspire">
    <!-- Header -->
    <v-parallax dark src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg">
      <v-row align="center" justify="center">
        <v-col class="text-center" cols="12" >
          <h1 class="text-h4 font-weight-thin mb-4">
            Introduce Yourself With Class
          </h1>
          <h4 class="subheading">
            Buy Your First Impression
          </h4>
        </v-col>
      </v-row>
    </v-parallax>
    <!--
    <v-tabs centered>
      <v-tab>Buy Impression</v-tab>
      <v-tab></v-tab>
      <v-tab>Item Three</v-tab>
    </v-tabs>
    -->
    <v-container>
      <h1 class="headline">BuyBud</h1>
      <p>
        BuyBud is a <b>networking service</b> that let's you meet someone specific
        or someone in general that meets your criteria.
      </p>
      <p>
        Have you ever wanted to meet <b>Bill Gates</b> or <b>Warren Buffet</b>?
        Why can't you, an ordinary person, meet whoever you want?
      </p>
      <p>
        It's because of social pressure. It's best to <b>have a friend introduce
        you</b> rather than you introduce yourself.
      </p>
      <p>
        BuyBud is your friend before you meet someone new. <b>Let us do the introductions</b>.
      </p>
    </v-container>
    <v-form id="form" ref="form" :action="`${serverUrl}/create-checkout-session?orderType=${radioGroup}`" method="POST">
      <v-stepper v-model="stepper" vertical >
        <v-stepper-step :complete="stepper > 1" step="1" @click="stepper = 1">
          Who would you like to meet?
          <small>Name a person or describe their attributes.</small>
        </v-stepper-step>
    
        <v-stepper-content step="1">
          <!--
          <v-card color="grey lighten-1" class="mb-12" height="200px"></v-card>
          -->
          <v-radio-group v-model="radioGroup">
            <v-radio label="Specific Person ($10,000 per person)" value="specificPerson"></v-radio>
            <v-radio label="General Person ($500 per person)" value="generalPerson"></v-radio>
          </v-radio-group>
          <!-- Specific Person -->
          <div v-if="radioGroup === 'specificPerson'" class="">
            <v-text-field label="What is there name?" placeholder="Living Person Name (ie. Jim Carrey)" outlined></v-text-field>
            <v-text-field label="How can we find them?" placeholder="Email, Phone Number, Social Media Url, etc." outlined></v-text-field>
          </div>
          <!-- General Person -->
          <div v-else-if="radioGroup === 'generalPerson'">
            <!-- Location -->
            <v-text-field label="Where should they be from?" placeholder="Somewhere specific or anywhere?" outlined></v-text-field>
            <!-- Salary -->
            <v-range-slider label="What should their salary be?" v-model="salaryRange" :max="salaryMax" :min="salaryMin" hide-details class="align-center">
              <template v-slot:prepend>
                <v-text-field :value="salaryRange[0]" class="mt-0 pt-0" hide-details single-line outlined
                  type="number" @change="$set(salaryRange, 0, $event)"></v-text-field>
              </template>
              <template v-slot:append>
                <v-text-field :value="salaryRange[1]" class="mt-0 pt-0" hide-details single-line outlined
                  type="number" @change="$set(salaryRange, 1, $event)"></v-text-field>
              </template>
            </v-range-slider>
            <!-- Attractiveness -->
            <v-range-slider label="How attractive should they be?" v-model="attractivenessRange" :max="attractivenessMax" :min="attractivenessMin" hide-details class="align-center">
              <template v-slot:prepend>
                <v-text-field :value="attractivenessRange[0]" class="mt-0 pt-0" hide-details single-line outlined
                  type="number" @change="$set(attractivenessRange, 0, $event)"></v-text-field>
              </template>
              <template v-slot:append>
                <v-text-field :value="attractivenessRange[1]" class="mt-0 pt-0" hide-details single-line outlined
                  type="number" @change="$set(attractivenessRange, 1, $event)"></v-text-field>
              </template>
            </v-range-slider>
            <!-- Occupation and Interest -->
            <v-textarea label="What should they do?" placeholder="Describe their occupation or interests" outlined></v-textarea>
          </div>

          <v-btn color="primary" @click="stepper = 2">
            Continue
          </v-btn>
          <v-btn text>
            Cancel
          </v-btn>
        </v-stepper-content>
    
        <v-stepper-step :complete="stepper > 2" step="2" @click="stepper = 2">
          Who are you?
          <small>Describe yourself for your first introduction.</small>
        </v-stepper-step>
    
        <v-stepper-content step="2">
          <!-- Your Name -->
          <v-text-field label="What is your name?" outlined></v-text-field>
          <!-- Your Location -->
          <v-text-field label="Where are you from?" outlined></v-text-field>
          <!-- Your Salary -->
          <v-range-slider label="What is your salary?" v-model="selfSalaryRange" :max="salaryMax" :min="salaryMin" hide-details class="align-center">
            <template v-slot:prepend>
              <v-text-field :value="selfSalaryRange[0]" class="mt-0 pt-0" hide-details single-line outlined
                type="number" @change="$set(selfSalaryRange, 0, $event)"></v-text-field>
            </template>
            <template v-slot:append>
              <v-text-field :value="selfSalaryRange[1]" class="mt-0 pt-0" hide-details single-line outlined
                type="number" @change="$set(selfSalaryRange, 1, $event)"></v-text-field>
            </template>
          </v-range-slider>
          <!-- Your Attractiveness -->
          <v-range-slider label="How attractive are you?" v-model="selfAttractivenessRange" :max="attractivenessMax" :min="attractivenessMin" hide-details class="align-center">
            <template v-slot:prepend>
              <v-text-field :value="selfAttractivenessRange[0]" class="mt-0 pt-0" hide-details single-line outlined
                type="number" @change="$set(selfAttractivenessRange, 0, $event)"></v-text-field>
            </template>
            <template v-slot:append>
              <v-text-field :value="selfAttractivenessRange[1]" class="mt-0 pt-0" hide-details single-line outlined
                type="number" @change="$set(selfAttractivenessRange, 1, $event)"></v-text-field>
            </template>
          </v-range-slider>
          <!-- Your Occupation and Interest -->
          <v-textarea label="What do you do?" placeholder="Describe your occupation or interests" outlined></v-textarea>

          <v-btn color="primary" @click="stepper = 3">
            Continue
          </v-btn>
          <v-btn text>
            Cancel
          </v-btn>
        </v-stepper-content>
    
        <v-stepper-step :complete="stepper > 3" step="3" @click="stepper = 3">
          How do we contact you?
          <small>Describe the best way to contact you in case you receive a response.</small>
        </v-stepper-step>
    
        <v-stepper-content step="3">
          <v-text-field label="What is your email address?" outlined></v-text-field>
          <v-text-field label="What is your phone number?" outlined></v-text-field>
          <v-btn color="primary" @click="stepper = 4">
            Continue
          </v-btn>
          <v-btn text>
            Cancel
          </v-btn>
        </v-stepper-content>
      </v-stepper>
      <v-container text-center>
        <v-btn type="submit" class="primary">
          <v-icon left>attach_money</v-icon>
          <span>Buy Your First Impression</span>
        </v-btn>
      </v-container>
    </v-form>
  </v-app>
</div>
<script type="text/javascript">
new Vue({
  el: '#app',
  vuetify: new Vuetify(),
  data: () => ({
    // serverUrl: 'http://localhost:4242',
    serverUrl: 'https://thawing-sands-95547.herokuapp.com',
  
    stepper: 1,
    radioGroup: 'specificPerson',

    // General Person
    salaryMin: 0, // 0
    salaryMax: 1000000, // 1 million
    salaryRange: [0, 100000],
    attractivenessMin: 1,
    attractivenessMax: 10,
    attractivenessRange: [5, 10],

    // Self Assessment
    selfSalaryRange: [0, 100000],
    selfAttractivenessRange: [5, 10]
  }),
  methods: {
    async buyNow () {
      console.log(this.$refs.form.submit)
      axios.post('http://localhost:4242/create-checkout-session')
    }
  }
})
</script>
</body>
</html>